/* Body Tag Style */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* Container Style */
.container{
    display: flex;
    justify-content: center;  
}
/* Section-1 Style Start */
#section-1{
    background-color: #161616;
    color: white;
    display: flex;
    border-radius: 30px;
    margin-bottom: 130px;
    transition: color 5s;
    transition: background-color 5s;
    width: 88%;
    padding-bottom: 10px;  
}

/* Section-1 Hover */

#section-1:hover{
    background-color: lightpink;
    color: black;
}
.section-1-content{
    padding-top: 70px;
    padding-left: 100px;
    width: 50%;
}

/* Watch Live Button Style */

.section-1-content .button-1{
    color: white;
    background-color: #DD0000;
    padding: 16px 25px;
    width: 187px;
    height: 56px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    transition: width 1s;
}

/* watch Live Button Hover */

.button-1:hover{
    color: #DD0000;
    background-color: aqua;
    width: 100%;
}
.section-1-content .title{
    font-weight: 700;
    font-size: 70px;
    
}
.section-1-content p{
    font-weight: 400;
    font-size: 16px;
    
}

/* Merselo Style */

.marselo{
    width: 100%;
    margin-right: 20px;
}
/* Section-1 Style End */

/* Section-2 Style start */

#section-2{
    display: flex;
}
#section-2 .content-1{
    width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: #161616;
    color: white;
}



#button-4{
    background-color: #DD0000;
    color: white;
}

.content-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



.blog{
    
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 24px;
}


#button-6{
    text-align: center;
    display: none;
    justify-content: center;
}
.button-6{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #DD0000;
    color: white;
}
/* Section-2 style End */

/* Footer Style Stert  */
footer{
    
    height: 444px;
    background-color: #161616;
    color: white;
}
.footer-header{
    text-align: center;
    padding-top: 130px;
}
.hr{
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-details{
    display: flex;
    justify-content: center;
}
.footer-details p{
    margin-left: 20px;
}
.social-media{
    display: flex;
    justify-content: center;
}
.s-icon{
    color: rgb(5, 197, 251);
    margin-right: 20px;
}
/* Footer Style End */

/* Style For Tablet */

@media screen and (max-width: 992px) and (min-width:599px) {
    .container{
        display: flex;
        justify-content: center;
    }
    #section-1{
        width: 100%;
        margin-bottom: 0px;
    }
    .button-1{
        margin-bottom: 20px;
    }
    .marselo{
        width: 100%;
        height: 90%;
    }
    #section-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    #section-2 .content-1{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 200px;
        width: 0px;
    }
    .content-2{
        grid-template-columns: repeat(2,1fr);
    }
    #button-6{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .button-6{
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #DD0000;
        color: white;
    }
    #last-blog{
        display: none;
    }
  }

/* Style For Mobile */

  @media screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    #section-1 {
        background-color: #161616;
        color: white;
        display: flex;
        border-radius: 30px;
        margin-bottom: 0px;
        transition: color 5s;
        transition: background-color 5s;
        width: 88%;
        flex-direction: column;
    }
    #section-1 h1{
        font-size: 30px;
    }
    #section-1 p{
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    
    .marselo{
        width: 100%;
        height: 100%;
    }
    #section-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    #section-2 .content-1{
        background-color: white;
    }
    .content-2{
        grid-template-columns: repeat(1,1fr);

    }
    .footer-details{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer-header{
        padding-top: 0px;
    }
    .social-media{
        margin-left: 25px;
        margin-bottom: 10px;
    }
  }